<div class="container d-flex flex-column justify-content-center align-items-center hr-registeration-form-wrapper py-4">
    <h1 class="text-center cst-font-3 my-2">HR Registration</h1>
    <div class="col-lg-6 col-md-12 mx-auto cst-bg-1 p-4 rounded">
        <form [formGroup]="hrRegisterForm">
            <label class="d-block">HR Name : <span class="text-danger">*</span> :</label>
            <input class="d-block w-100 rounded border-0 p-2 mt-1" type="text" formControlName="fname"
                placeholder="John Doe">
            @if((hrRegisterForm.controls['fname'].touched || hrRegisterForm.controls['fname'].dirty)&& hrRegisterForm.controls['fname'].errors?.['required']){
                <p class="text-white">Name is required.</p>
            }
            <label class="d-block mt-3">HR Email :<span class="text-danger">*</span> :</label>
            <input class="d-block w-100 rounded border-0 p-2 mt-1" type="email" formControlName="email"
                placeholder="john9@gmail.com">
            @if((hrRegisterForm.controls['email'].touched || hrRegisterForm.controls['email'].dirty) && hrRegisterForm.controls['email'].errors?.['required']){
                <p class="text-white">Email is required.</p>
            }
            @else if (hrRegisterForm.controls['email'].errors?.['email']) {
                <p class="text-white">Enter valid email.</p>   
            }
            <label class="d-block mt-3">HR Password :<span class="text-danger">*</span> :</label>
            <input class="d-block w-100 rounded border-0 p-2 mt-1" type="password" formControlName="password"
                placeholder="......">
            @if((hrRegisterForm.controls['password'].touched || hrRegisterForm.controls['password'].dirty) && hrRegisterForm.controls['password'].errors?.['required']){
                <p class="text-white">Password is required.</p>
            }
            @else if (hrRegisterForm.controls['password'].errors?.['minlength']){
                <p class="text-white">Password length should be minimum 8 character.</p>
            }
            @else if (hrRegisterForm.controls['password'].errors?.['maxlength']){
                <p class="text-white">Password length should be maximum 12 character.</p>
            }
            <label class="d-block mt-3">HR Phone :<span class="text-danger">*</span> :</label>
            <input class="d-block w-100 rounded border-0 p-2 mt-1" type="text" formControlName="phone"
                placeholder="Enter you active phone number.">
            @if((hrRegisterForm.controls['phone'].touched || hrRegisterForm.controls['phone'].dirty) && hrRegisterForm.controls['phone'].errors?.['required']){
                <p class="text-white">Phone is required.</p>
            }
            @else if (hrRegisterForm.controls['phone'].errors?.['minlength']){
                <p class="text-white">Phone length should be minimum 10 character.</p>
            }
            @else if (hrRegisterForm.controls['phone'].errors?.['maxlength']){
                <p class="text-white">Phone length should be maximum 10 character.</p>
            }
            @else if (hrRegisterForm.controls['phone'].errors?.['pattern']){
                <p class="text-white">Phone number must contain numbers only(no spaces, dashes, or letters) </p>
            }
            <label class="d-block mt-3">Gender<span class="text-danger">*</span> :</label>
            <label>Male </label>
            <input type="radio" class="ms-2" formControlName="gender" value="male">
            <br>
            <label>Female </label>
            <input type="radio" class="ms-2" formControlName="gender" value="female">
            @if (hrData) {
            <button class="d-block w-100 py-2 border-0 rounded cst-bg-2 text-white fw-bold mt-4"
                [disabled]="hrRegisterForm.invalid" (click)="onUpdate()">Update</button>
            }
            @else{
            <button class="d-block w-100 py-2 border-0 rounded cst-bg-2 text-white fw-bold mt-4"
                [disabled]="hrRegisterForm.invalid" (click)="onRegister()">Register</button>
            <p class="text-center mt-2">already have account? <a [routerLink]="['/login']"
                    class="cst-font-1 text-decoration-none">Login</a></p>
            }
        </form>
    </div>
</div>