<div class="conatiner-fluid p-4">
    <div class="row flex-row">
        <div class="col-lg-6 p-2">
            <div class="cst-bg-1 p-3 rounded">
                <h3 class="text-center text-white fs-5">Total Employees</h3>
                <div class="d-flex align-items-center justify-content-center">
                    <i class="bi bi-people cst-dash-stat text-white"></i>
                    <h5 class="text-center cst-font-3 m-0 ms-4 cst-dash-stat">{{dashboardStat.employeeCount}}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-2">
            <div class="cst-bg-1 p-3 rounded">
                <h3 class="text-center text-white fs-5">Total Departments</h3>
                <div class="d-flex align-items-center justify-content-center">
                    <i class="bi bi-building cst-dash-stat text-white"></i>
                    <h5 class="text-center cst-font-3 m-0 ms-4 cst-dash-stat">{{dashboardStat.departmentCount}}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-2">
            <div class="cst-bg-1 p-3 rounded">
                <h3 class="text-center text-white fs-5">Managers</h3>
                <div class="d-flex align-items-center justify-content-center">
                    <i class="bi bi-person-gear cst-dash-stat text-white"></i>
                    <h5 class="text-center cst-font-3 m-0 ms-4 cst-dash-stat">{{dashboardStat.managerCount}}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-2">
            <div class="cst-bg-1 p-3 rounded">
                <h3 class="text-center text-white fs-5">Team Leaders</h3>
                <div class="d-flex align-items-center justify-content-center">
                    <i class="bi bi-person-up cst-dash-stat text-white"></i>
                    <h5 class="text-center cst-font-3 m-0 ms-4 cst-dash-stat">{{dashboardStat.teamLeaderCount}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>