<div class="w-100 d-none d-md-flex flex-column cst-bg-1 p-3 vh-100 left-menu sticky-top">
  <h2 class="cst-font-3">
    Dashboard
  </h2>
  <hr class="m-0">
  <ul class="list-inline mt-2">
    <li class="fs-5 d-flex align-items-center menu-item p-2 rounded mt-3" routerLink="/dashboard/overview">
      <i class="bi bi-list-task cst-bg-2 text-white p-2 pb-0 rounded"></i>
      <span class="ms-3 fw-bold text-white">Overview</span>
    </li>
    <li class="fs-5 d-flex align-items-center menu-item p-2 rounded mt-3" routerLink="/dashboard/employee">
      <i class="bi bi-people cst-bg-2 text-white p-2 pb-0 rounded"></i>
      <span class="ms-3 fw-bold text-white">Employee</span>
    </li>
    <li class="fs-5 d-flex align-items-center menu-item p-2 rounded mt-3" routerLink="/dashboard/department">
      <i class="bi bi-building cst-bg-2 text-white p-2 pb-0 rounded"></i>
      <span class="ms-3 fw-bold text-white">Department</span>
    </li>
    <li class="fs-5 d-flex align-items-center menu-item p-2 rounded mt-3" routerLink="/dashboard/profile">
      <i class="bi bi-person cst-bg-2 text-white p-2 pb-0 rounded"></i>
      <span class="ms-3 fw-bold text-white">Profile</span>
    </li>
  </ul>
</div>